{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">

			<!-- Ezoic - astra_primary_content_top - top_of_page -->
			<div id="ezoic-pub-ad-placeholder-109" class="cfAdBlock"> </div>
			<!-- End Ezoic - astra_primary_content_top - top_of_page -->

			<h1 class="post__title">{{ .Title }}</h1>

			{{- with .Params.lead }}
				<p class="post__lead">{{ . }}</p>
			{{- end }}

			{{ with partial "post_meta.html" . -}}
				<div class="post__meta meta">{{ . }}</div>
			{{- end }}

			<!-- Ezoic - astra_entry_content_before - under_page_title -->
			<div id="ezoic-pub-ad-placeholder-103" class="cfAdBlock"> </div>
			<!-- End Ezoic - astra_entry_content_before - under_page_title -->
		</header>

		<div class="content post__content clearfix">
			{{ .Content }}
		</div>

		{{ if eq .Params.taxonomy_type "tag"}}
			{{ $filteredByTag :=  where .Site.Pages "Params.tag_slug" .Params.slug }}
			{{ range first 10 $filteredByTag }}
				{{ .Render "summary" }}
			{{ end }}
			<a href="/tags/{{ .Params.long_slug }}/page/2/">Read More on this Topic &gt;</a>
		{{ else }}
			{{ $filteredByTag :=  where .Site.Pages "Params.category_slug" .Params.slug }}
			{{ range first 10 $filteredByTag }}
				{{ .Render "summary" }}
			{{ end }}
			<a href="/categories/{{ .Params.long_slug }}/page/2/">Read More on this Topic &gt;</a>
		{{ end }}


	</article>
</main>


{{ end }}