<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>

	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>

	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">

	{{ if .Site.Params.opengraph }}{{ template "_internal/opengraph.html" . }}{{ end }}
	{{ if .Site.Params.twitter_cards }}{{ template "_internal/twitter_cards.html" . }}{{ end }}

	{{ partial "structured-data.html" . }}

	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">

	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{ end -}}

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">

	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}
	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
	{{- if not .Site.IsServer }}
		{{ template "_internal/google_analytics_async.html" . }}
	{{- end }}
</head>
<body class="body">
	<div class="container container--outer">

		<!-- Ezoic - astra_header_before - top_of_page -->
		<div id="ezoic-pub-ad-placeholder-101" class="cfAdBlock"> </div>
		<!-- End Ezoic - astra_header_before - top_of_page -->

		{{ partial "header" . }}

		<!-- Ezoic - astra_header_after - top_of_page -->
		<div id="ezoic-pub-ad-placeholder-102" class="cfAdBlock"> </div>
		<!-- End Ezoic - astra_header_after - top_of_page -->

		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
		<!-- Ezoic - astra_footer_before - bottom_of_page -->
		<div id="ezoic-pub-ad-placeholder-111" class="cfAdBlock"> </div>
		<!-- End Ezoic - astra_footer_before - bottom_of_page -->

		{{ partial "footer" . }}

		<!-- Ezoic - astra_footer_after - bottom_of_page -->
		<div id="ezoic-pub-ad-placeholder-112" class="cfAdBlock"> </div>
		<!-- End Ezoic - astra_footer_after - bottom_of_page -->
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{{ range .Site.Params.customJS -}}
	<script src="{{ . | relURL }}"></script>
{{- end }}

<script>
		var form = document.getElementById('searchForm');
		form.addEventListener('submit', onSearchSubmit);

	function onSearchSubmit(event) {
		event.preventDefault();
		var searchParam = event.target.elements[0].value;
		var searchPageUrl = '{{ .Site.Params.baseURL }}/search/?q=' + encodeURI(searchParam);
		window.location.replace(searchPageUrl);
	}
</script>

{{- partial "mathjax.html" . -}}
</body>
</html>