{{ define "main" }}
<main class="main list" role="main">
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}

	{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
	{{- range $index, $value := $paginator.Pages }}

		{{- .Render "summary" }}

		{{ if eq $index 2 }}
			<!-- Ezoic - astra_entry_content_inline_top - under_first_paragraph -->
			<div id="ezoic-pub-ad-placeholder-105" class="cfAdBlock"> </div>
			<!-- End Ezoic - astra_entry_content_inline_top - under_first_paragraph -->
		{{ else if eq $index 6 }}
			<!-- Ezoic - astra_entry_content_inline_middle_top - under_second_paragraph -->
			<div id="ezoic-pub-ad-placeholder-106" class="cfAdBlock"> </div>
			<!-- End Ezoic - astra_entry_content_inline_middle_top - under_second_paragraph -->
		{{ end }}

	{{- end }}

	{{- if and (eq $paginator.TotalNumberOfElements 0) (not $.Content) }}
		<div class="warning">
			{{ partial "svg/files.svg" (dict "class" "warning__icon") }}
			<h3 class="warning__headline">{{ T "noposts_warning_title" | safeHTML }}</h3>
			<div class="warning__text">
				<p class="warning__description">{{ T "noposts_warning_description" | safeHTML }}</p>
				<p class="warning__tip">{{ T "noposts_warning_tip" | safeHTML }}</p>
			</div>
		</div>
	{{ end }}
</main>
{{ partial "pagination.html" . }}
{{ end }}